config:
  clientID: "000000000000-0a0aa0a00a0a0a0a00aaaa0a0a0a0a0a.apps.googleusercontent.com"
  clientSecret: "a0a000a000a00a0a00a0a0a0"
  cookieSecret: "secret"
  configFile: null

authenticatedEmailsFile:
  enabled: true
  restricted_access: "test@example.com"

extraEnv:
  - name: "OAUTH2_PROXY_COOKIE_NAME"
    value: "XXXXXXXXXXXXXXXXX"
