redirect_url = "http://127.0.0.1:4180/oauth2/callback"
client_id = "000000000000-0a0aa0a00a0a0a0a00aaaa0a0a0a0a0a.apps.googleusercontent.com"
client_secret = "a0a000a000a00a0a00a0a0a0"
cookie_secret = "secret"
cookie_secure = false
